<main>
    <h2>Crea un producto</h2>
    <form method="POST" action="/productos">
        <label>Title:</label>
        <input name="title">
        <label>Price:</label>
        <input type='number'name="price">
        <label>Miniatura url:</label>
        <input name="thumbnail">
        <input type="submit">
    </form>
    <a href="/productos">Ver productos</a>
</main>