<div class="container pt-3">
    {{#if productos}}
        <table class="table table-light table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
            {{#each productos}}
                <tr>
                    <td>{{this.title}}</th>
                    <td>{{this.price}}</td>
                    <td><img src={{this.thumbnail}} class="img-thumbnail rounded"></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="alert alert-info" role="alert">No hay productos creados</div>
    {{/if}}
    <a href="/">Volver a formulario</a>
</div>