<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <main class="container mt-3">
        <%- include('./partials/form') %> 
        <div id="productos" class="my-3"></div>
    </main>
    <%- include('./partials/scripts') %> 
</body>
</html>