<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <main class="container mt-3">
        <div class="p-3 bg-light bg-gradient">
            <%- include('./partials/form') %> 
            <div id="productos" class="my-3"></div>
        </div>
        <div class="p-3 mt-4 bg-light bg-gradient">
            <%- include('./partials/formChat') %>
        </div>
    </main>
    <%- include('./partials/scripts') %> 
</body>
</html>