<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <main class="container mt-3">
        <div class="container pt-3">
            <% if (productos.length){ %> 
                <table class="table table-light table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% productos.forEach(p => { %>
                        <tr>
                            <td><%= p.title %></th>
                            <td><%= p.price %></td>
                            <td><img src=<%= p.thumbnail %> class="img-thumbnail rounded"></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } else{ %> 
                <div class="alert alert-info" role="alert">No hay productos creados</div>
            <% } %>
            <a href="/">Volver a formulario</a>
        </div>
    </main>
</body>
</html>