<h2>Crea un producto</h2>
<form class="mb-2" id="form">        
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Ingresar titulo" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="text" class="form-control" id="price" placeholder="Ingresar precio" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Url de la miniatura</label>
        <input type="text" class="form-control" id="thumbnail" placeholder="Ingresar url" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Crear producto</button>
</form>