<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <main class="container mt-3">
        <div class="p-3 mt-4 bg-light bg-gradient">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text-danger mb-0" id="feedback">Error: <%= feedback %></p>
                <button class="btn btn-primary"><a href="/" style="text-decoration: none; color: inherit;">Come back</a></button>
            </div>
        </div>
    </main>
</body>
</html>